@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

body {
  margin:0;
  background:#222;
  font-family:"Fira Code";
  font-weight:600;
}

header {
  background-image:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("Assets/Background2.png");
}

header::after {
  content:'';
  display:table;
  clear:both;
}

img#logo {
  float:left;
  margin-left:10px;
  padding:10px 0;
}

nav {
  float:right;
}

nav ul {
  margin:0;
  padding:0;
  list-style:none;
}

nav li {
  display:inline-block;
  margin-left:70px;
  margin-right:70px;
  padding-top:26px;
  position:relative;
}

nav a {
  color:#ddd;
  text-decoration:none;
  text-transform:uppercase;
  font-size:18px;
  transition:color ease 250ms;
}

nav a:hover {
  color:#fff;
}

nav a::before {
  content:'';
  display:block;
  height:5px;
  width:0%;
  background-color:#ddd;
  position:absolute;
  top:0;
  transition:all ease-in-out 250ms;
}

nav a:hover::before {
  width:100%;
  color:#fff;
}
